@media (max-width: 1050px) and (min-width: 551px){
    main .container .intro{
        flex-direction: column;
    }
}

@media (max-width: 550px) and (min-width: 100px){
    main .container .intro{
        flex-direction: column;
    }

    main .container .intro .card{
        width: 90vw;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    main .container .intro .card .content{
        text-align: center;
    }

    main .container .intro .card .content .social{
        text-align: center;
    }
}

@media (max-width: 550px) and (min-width: 451px){

    main .container > h1{
        font-size: 28px;
        margin: 10px 17px;
    }

    main .container > p{
        font-size: 14px;
        margin: 0px 17px;
    }

    main .container .intro .card .image{
        margin: 25px 20px 1px 20px;
    }
    main .container .intro .card .content{
        padding: 10px 15px 15px 15px;
    }

    main .container .intro .card .content h3{
        font-size: 25px;
        margin: 5px 0px 10px 0px;
    }

    main .container .intro .card .content p{
        font-size: 14px;
        margin: 2px 0px;
    }

    main .container .intro .card .content .social{
        margin: 15px 0px 10px 0px;
    }

    footer{
        font-size: 14px;
    }
}

@media (max-width: 450px) and (min-width: 401px){

    main .container > h1{
        font-size: 27px;
        margin: 9px 16px;
    }

    main .container > p{
        font-size: 14px;
        margin: 0px 16px;
    }

    main .container .intro .card .image{
        margin: 25px 20px 1px 20px;
    }
    main .container .intro .card .content{
        padding: 10px 15px 15px 15px;
    }

    main .container .intro .card .content h3{
        font-size: 23px;
        margin: 5px 0px 10px 0px;
    }

    main .container .intro .card .content p{
        font-size: 13px;
        margin: 2px 0px;
    }

    main .container .intro .card .content .social{
        margin: 15px 0px 10px 0px;
    }

    footer{
        font-size: 13px;
    }
}

@media (max-width: 400px) and (min-width: 351px){

    main .container > h1{
        font-size: 26px;
        margin: 8px 15px;
    }

    main .container > p{
        font-size: 13px;
        margin: 0px 15px;
    }

    main .container .intro .card .image{
        margin: 25px 20px 1px 20px;
    }
    main .container .intro .card .content{
        padding: 10px 15px 15px 15px;
    }

    main .container .intro .card .content h3{
        font-size: 20px;
        margin: 5px 0px 10px 0px;
    }

    main .container .intro .card .content p{
        font-size: 12px;
        margin: 2px 0px;
    }

    main .container .intro .card .content .social{
        margin: 15px 0px 10px 0px;
    }

    footer{
        font-size: 12px;
    }
}

@media (max-width: 350px) and (min-width: 301px){

    main .container > h1{
        font-size: 25px;
        margin: 7px 14px;
    }

    main .container > p{
        font-size: 12px;
        margin: 0px 14px;
    }

    main .container .intro .card .image{
        margin: 25px 20px 1px 20px;
    }
    main .container .intro .card .content{
        padding: 10px 15px 15px 15px;
    }

    main .container .intro .card .content h3{
        font-size: 18px;
        margin: 5px 0px 10px 0px;
    }

    main .container .intro .card .content p{
        font-size: 11px;
        margin: 2px 0px;
    }

    main .container .intro .card .content .social{
        margin: 15px 0px 10px 0px;
    }

    footer{
        font-size: 11px;
    }
}

@media (max-width: 300px) and (min-width: 201px){

    main .container > h1{
        font-size: 24px;
        margin: 6px 13px;
    }

    main .container > p{
        font-size: 11px;
        margin: 0px 13px;
    }

    main .container .intro .card .image{
        margin: 25px 20px 1px 20px;
    }
    main .container .intro .card .content{
        padding: 10px 15px 15px 15px;
    }

    main .container .intro .card .content h3{
        font-size: 18px;
        margin: 5px 0px 10px 0px;
    }

    main .container .intro .card .content p{
        font-size: 11px;
        margin: 2px 0px;
    }

    main .container .intro .card .content .social{
        margin: 15px 0px 10px 0px;
    }

    footer{
        font-size: 11px;
    }
    
}

@media (max-width: 200px){

    main .container > h1{
        font-size: 20px;
        margin: 6px 10px;
    }

    main .container > p{
        font-size: 9px;
        margin: 0px 10px;
    }

    main .container .intro .card .image{
        margin: 25px 20px 1px 20px;
    }
    main .container .intro .card .content{
        padding: 10px 15px 15px 15px;
    }

    main .container .intro .card .content h3{
        font-size: 15px;
        margin: 5px 0px 10px 0px;
    }

    main .container .intro .card .content p{
        font-size: 9px;
        margin: 2px 0px;
    }

    main .container .intro .card .content .social{
        margin: 15px 0px 10px 0px;
    }

    footer{
        font-size: 9px;
    }
}

