*{
    box-sizing: border-box;
}

body{
    color:rgba(245, 245, 245, 0.774);
    background-color: rgba(0, 0, 0, 0.884);
    font-family: 'Nunito', sans-serif;
}

header{
    background-color: rgb(29, 114, 153);
    color: white;
    padding: 0px;
    margin: 0px;
    position: sticky;
    top:0px;
}

h1{
    padding:0px 5px;
    margin: 10px 3px;
    width:500px;
    font-family: 'Caveat', cursive;
}

h2{
    font-family: 'Poiret One', cursive;
    margin: 20px 10px;
}

footer{
    margin: 20px;
}

.navbar{
    
}

.navbar li{
    list-style: none;
    float:left;
    padding: 1px 5px;
    margin-right: 20px;
    margin-bottom: 3px;
}

.navbar ul{
    overflow:auto;
    margin: 0px;
    display: inline-block;
    padding: 0px 5px;

}

.liback{
    border-radius: 3px;
}
.liback:hover{
    background-color:rgb(41, 133, 175);
}

.navlink{
    text-decoration: none;
    color: white;
}

.licourse{
    padding:5px;
    margin:3px;
}

.buttons{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    border: none;
    margin: 5px;
    padding: 4px 4px 2px 4px;
    background-color: rgb(100, 85, 156);
    color:rgb(226, 226, 226);
    border-radius: 3px;
    font-family: 'Spartan', sans-serif;
    font-size: 11px;
}

.buttons:hover{
    background-color: rgb(149, 128, 223);
    cursor: pointer;
}

.main_content{
    margin:10px;
}

.lime{
    list-style: none;
    padding:5px;
    margin:3px;
}

.email{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    border: none;
    margin: 5px;
    padding: 4px 4px 2px 4px;
    background-color: rgb(100, 85, 156);
    color:rgb(226, 226, 226);
    border-radius: 3px;
    font-family: 'Spartan', sans-serif;
    font-size: 11px;
    display: inline-block;
}