body{
    color: rgba(255, 255, 255, 0.884);
    background-color: rgba(17, 17, 17, 0.884);
    font-family: 'Nunito', sans-serif;
}

header{
    position: sticky;
    top: 0px;
}

header h1{
    /* border: 1px solid green; */
    padding: 8px 10px 7px 5px;
    margin: 0px;
    background-color: rgb(78, 66, 134);
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
}

h2{
    /* display: inline-block; */
    /* margin: 20px auto; */
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: center;
}

.navlist{
    /* border: 1px solid red; */
    background-color: rgb(73, 63, 103);
    display: flex;
    /* width: 50%; */
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.navlist a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.884);
}

.navlist li{
    list-style: none;
    margin-right: 10px;
    /* margin-left: 5px; */
    padding: 4px 7px;

}

.navlist li:hover{
    background-color: rgb(106, 87, 148);
    cursor: pointer;
}

.info{
    border: 2px solid rgba(0, 0, 0, 0.103);
    background-color: rgb(46, 37, 82);
    border-radius: 10px;  
    width: 70%;
    margin: 50px auto;
    align-items: center;
    padding: 20px;
    /* overflow: auto; */
}

.info h3{
    display: inline-block;
    /* border: 1px solid red; */
    background-color: rgb(40, 31, 77);
    border-radius: 7px;
    margin: 0px;
    font-size: 20px;
    padding: 5px ;
    font-family: 'Raleway', sans-serif;
}

#basic_flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

#basic_table td{
    /* border: 1px solid yellow; */
    padding: 10px;
    margin: 1px;
    font-size: 25px;
    /* font-size: 2vw; */
}

#main_image{
    width: 22vw;
    /* width: 300px; */
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.350);

}

#div_basic_table{
    /* display: inline-block; */
    background-color: rgb(64, 57, 92);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.350);
    display: flex;
    align-items: center;
}

#div_basic_table:hover{
    background-color: rgb(75, 64, 112);
    border: 1px solid rgba(0, 0, 0, 0.350);
}

#div_main_image{
    /* display: inline-block; */
    /* border: 1px solid blue; */
} 

#skill_flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.skill_div_ul{
    border: 1px solid rgba(0, 0, 0, 0.350);
    background-color: rgb(64, 57, 92);
    border-radius: 10px;
    padding: 30px 50px;
    margin: 5px;
    font-size: 25px;
    /* border: 1px solid rgba(0, 0, 0, 0.350); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.skill_div_ul:hover{
    background-color: rgb(75, 64, 112);
    border: 1px solid rgba(0, 0, 0, 0.350);
}

.skill_div_ul ul{
    padding: 0px;
    margin: 0px;
}

#interest_flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.interest_div_ul{
    border: 1px solid rgba(0, 0, 0, 0.350);
    background-color: rgb(64, 57, 92);
    border-radius: 10px;
    padding: 30px 50px;
    margin: 5px;
    font-size: 25px;
    /* border: 1px solid rgba(0, 0, 0, 0.350); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.interest_div_ul:hover{
    background-color: rgb(75, 64, 112);
    border: 1px solid rgba(0, 0, 0, 0.350);
}

.interest_div_ul ul{
    padding: 0px;
    margin: 0px;
}

#education_flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.education_div{
    border: 1px solid rgba(0, 0, 0, 0.350);
    background-color: rgb(64, 57, 92);
    border-radius: 10px;
    padding: 30px 50px;
    margin: 10px;
    font-size: 25px;
    /* border: 1px solid rgba(0, 0, 0, 0.350); */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.education_div:hover{
    background-color: rgb(75, 64, 112);
    border: 1px solid rgba(0, 0, 0, 0.350);
}

#course_flex{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

.course_div{
    border: 1px solid rgba(0, 0, 0, 0.350);
    background-color: rgb(64, 57, 92);
    border-radius: 10px;
    padding: 30px 50px;
    margin: 10px;
    font-size: 25px;
    /* border: 1px solid rgba(0, 0, 0, 0.350); */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.course_div p{
    text-align: center;
}

.course_div:hover{
    background-color: rgb(75, 64, 112);
    border: 1px solid rgba(0, 0, 0, 0.350);
}

/* CSS specifically for "More about Me!" page  */

.more_info{
    box-sizing: border-box;
    overflow: auto;
}

#more_image{
    width: 48vw;
    display: inline-block;
    float: left;
    margin: 10px;
    border-radius: 3px;
}

.more_para a{
    text-decoration: none;
    color: cornflowerblue;
}

/* CSS Specifically for "Online Presence Page" */

#para_div{
    display: flex;
    justify-content: center;
}

#presence_div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 95vw;
}

.presence_content{
    margin: 5px;
}

#presence_content_texts{
    font-size: 25px;
}

#presence_content_texts table tr td{
    padding: 5px;
}

.buttons{
    text-decoration: none;
    border: none;
    margin: 5px;
    padding: 4px 4px 2px 4px;
    background-color: rgb(100, 85, 156);
    color:rgb(226, 226, 226);
    border-radius: 3px;
    font-family: 'Spartan', sans-serif;
    font-size: 13px;
}

.buttons:hover{
    background-color: rgb(149, 128, 223);
    cursor: pointer;
}

#presence_pic{
    width: 45vw;
}