*{
    margin: 0;
    padding: 0;
}

body{
    /* margin: 0;
    padding: 0; */
    font-family: 'ABeeZee', sans-serif;
    background-color: #212121;
    color: rgb(238, 238, 238);
    min-height: 98vh;
}

/* --------------- header styling -------------*/
header{
    background-color: #1b1b1b;
    /* position: sticky;
    top: 0;
    z-index: 100; */
}

header div{
    /* position: absolute; */
    display: flex;
    align-items: center;
}

header img{
    width: 75px;
    margin: 0;
    padding: 0;
}

#logo_head{
    position: relative;
    font-size: 38px;
    bottom: 5px;
    font-family: 'Bangers', cursive;
    /* margin-left: 5px; */
    /* padding: ; */
}

header nav{
    font-size: 15px;
    /* display: block; */
    margin: 0px 10px;
    padding: 5px 5px;
}

header nav .navlink li{
    display: inline;
    padding: 5px 5px;
    transition: all 0.15s linear;
    border-radius: 3px 3px 0px 0px;
    margin-right: 5px;
}

header nav .navlink li:hover{
    background-color: #212121;
}

header nav a{
    text-decoration: none;
    color: rgb(238, 238, 238);
}

header nav .navlink li{
    list-style: none;
}

/* ------------------------main------------------------- */

