.courselist{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    row-gap: 10px;
    column-gap: 5px;
    padding: 0px;
}

.licourse{
    list-style: none;
    border: 2px solid rgba(112, 112, 112, 0.377);
    height: 200px;  
    padding: 0px; 
    overflow: hidden;
}

.licourse_in{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-shadow: 0px 0px 2px white, 0px 0px 5px black;
    transition: all 0.1s linear;
}

.licourse_in::before{
    content: "";
    position: absolute;
    background: url(../pics/money_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    transition: all 0.1s linear;
}

.licourse:hover .licourse_in{
    box-shadow: inset 0px -30px 150px rgba(0, 0, 0, 0.479);
}

.licourse:hover .licourse_in::before{
    transform: scale(1.2);
    opacity: 0.7;
}

main div ul li{
    font-size: 30px;
    text-align: center;
}

li a{
    text-decoration: none;
    color: white;
}

footer{
    display: flex;
    justify-content: center;
}

.buttons{
    font-size: 13px;
    padding: 7px 40px 4px 40px;
}

/* ------------------ media queries --------------------- */

@media (max-width: 1000px) and (min-width: 801px){
    main div ul li{
        font-size: 25px;
    }
}

@media (max-width: 800px) and (min-width: 601px){
    .courselist{
        grid-template-columns: repeat(2, 3fr);
    }
    
    main div ul li{
        font-size: 30px;
    }
}

@media (max-width: 600px) and (min-width: 501px){
    .courselist{
        grid-template-columns: repeat(2, 3fr);
    }
    
    main div ul li{
        font-size: 23px;
    }
    
    .licourse{
        height: 170px;
    }
}

@media (max-width: 500px) and (min-width: 451px){
    .courselist{
        grid-template-columns: repeat(2, 3fr);
    }
    
    main div ul li{
        font-size: 20px;
    }

    .licourse{
        height: 150px;
    }
}

@media (max-width: 450px) and (min-width: 401px){
    .courselist{
        grid-template-columns: repeat(2, 3fr);
    }
    
    main div ul li{
        font-size: 19px;
    }

    .licourse{
        height: 130px;
    }
}

@media (max-width: 400px) and (min-width: 301px){
    .courselist{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 5px;
    }
    
    main div ul li{
        font-size: 19px;
    }

    .licourse{
        height: 100px;
    }
}

@media (max-width: 300px){
    .courselist{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1px;
    }
    
    main div ul li{
        font-size: 16px;
    }

    .licourse{
        height: 80px;
    }

    .buttons{
        font-size: 10px;
        padding: 6px 30px 3px 30px;;
    }
}
